extends ../../layout

include ../../mixins/user-header.pug
include ../../mixins/user.pug
include ../../mixins/user-picture.pug
include ../../mixins/limit.pug
include ../../mixins/debt.pug

block content

  header
    +user-header(user)
    nav
      a(href='./users/' + user.id + '/connections').active Connections
      a(href='./users/' + user.id + '/connection-requests') Requests
  
  main
    if connections.length > 0
      each connection in connections
        .user-card
          +user-picture(connection.to)
          div
            if connection.debt > 0
              p you owe #[strong #{connection.to.name}]
                span.credit-number #{connection.debt} credits
            else if connection.debt < 0
              p #[strong #{connection.to.name}] owes you
                span.credit-number #{connection.debt} credits
            else 
              p There is no debt between you and #[strong #{connection.to.name}]
          span.credit-number #{connection.debt}
      .dialog
        p You can always create more connections. Each new connection makes your network larger.
        a.button(href='./users/' + user.id + '/connection-requests/find-person') FIND MORE FRIENDS

    else
      .dialog
        p You are not connected yet. Create credit connections with people you trust to join the network.
        a.button(href='./users/' + user.id + '/connection-requests/find-person') FIND FRIENDS

